<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery-ui-1.8.13.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap-dropdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap-collapse.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Utilidades.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/themes/south-street/jquery-ui-1.8.13.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/datepicker.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Buttons.css")" rel="stylesheet" type="text/css" />


    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/favicon.ico")" />

</head>




<body>
    <div class="page">
        <header>
                    <div id="title">
                 <br />
            </div>
            <div id="logindisplay">
            <br />
            <br />
            <br />
            </div>


        </header>

        <section id="main">
            @RenderBody()
        </section>


        <footer>
        Copyright © 2013 - CGG.<br>
        All Rights Reserved.
        </footer>
    </div>
</body>
</html>
